h1 {
    color: white;
    text-align: center;
    font-family: "Epilogue", Sans-Serif;
    font-weight: 600;
}

p {
  padding: 20px;
  color: white;
  text-align: justify;
  line-height: 1.6;
  margin: 0;
  font-size: 1rem;
  font-family: "Epilogue", Sans-Serif;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #000000 70%, #0066FF 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#foto-profil {
  position: relative;
  top: 1px;
  left: 135px;
  width: 84px;
  border-radius: 100%;
  overflow: hidden;
}

.box {
  position: relative;
  width: 95%;
  height: 170px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;
  margin-bottom: 20px;
  border: 1px solid white;
  border-radius: 25px;
}
.title-box {
  position: absolute;
  background-color: black;
  top: -8.5px;
  left: 25px;
  color: white;
  padding-inline: 5px;
  font-family: "Epilogue", Sans-Serif;
}

.warning-box {
  position: relative;
  width: 95%;
  height: 80px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin top: 20px;
  border: 1px solid red;
  border-radius: 25px;
}

.warning-box p {
  color: red;
}